@import 'tailwindcss';

@theme {
  --color-zinc-950: #09090b;
}

@custom-variant dark (&:where(.dark, .dark *));

.theme-dimmable-image {
  transition: filter 200ms ease;
}

.dark .theme-dimmable-image {
  filter: brightness(0.9);
}
